@font-face {
    font-family: "Tahoma";
    src: url("./Tahoma.ttf");
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

th {
    font-family: Tahoma, serif;
    border: 1px solid black;
    text-align: center;
    background-color: #f2f2f2;
    width: 16%;
}

tr {
    height: 20px;
    width: 100%;
}

td {
    font-family: Tahoma, serif;

    font-size: 10px;
    text-align: center;

    padding: 0;
}

.byeCell, .teamCell {
    border: 2px solid #dddddd;
    background-color: white;
}
.teamCell {
    font-size: 9px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    padding: 0 2px;
    width: 50%;
    max-width: 50%;
}
.teamCell:hover, .byeCell:hover {
    border-color: #ff00f7;
    border-left-width: 3px;
    border-right-width: 3px;
}

#bar {
    position: fixed;
    background-color: #f2f2f2;
    width: 100%;
    border: black solid 2px;
    top: 0;
    left: 0;
}
